body {
    /* background-image: url("homeboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #ad974f;
    background-attachment:fixed; */
    background-attachment:fixed;
    background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 600px;
    width: 800px;
    margin: auto;
    margin-top: 15vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form h2{
    font-size: 3rem;
    font-family: sans-serif;
    margin: 40px;
}

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: #5c6664;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: black;
}

.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.form a:hover{
    color: red;
}

.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #5c6664;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
}

.slide{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.side img{
    width: 90%;
    height: auto;
    mix-blend-mode: multiply;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active,
.dot:hover {
    background-color: #717171;
}

#side-img{
    display: block;
}

.leaderboard-slide{
    display: none;
}

.profile-slide{
    display: none;
}

#dot1{
    background-color: black;
}

#dot2{
    background-color: white;
}

#dot3{
    background-color: white;
}

.error{
    color: red;
}

#missingusername-error, #missingpassword-error, #missingconfirmpassword-error, #matchingpassword-error{
    display: none;
}