<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='play.css')}}">
  </head>
  <body>
    <main>
      <form action="/create" method="post">
        <label for="time">Choose a time</label>
        <select id="time" name="time">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="30">30</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </main>
	<script src="index.js"></script>
  </body>
</html>