<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Website</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='play.css')}}">
  <link rel="icon" type="image/x-icon" href="/static/logo2.png">
</head>

<body>
  <main>
    <form action="/create" method="post">
      <div class="time-color-submit-container">
        <h1>Choose a time</h1>
        <div class="time-container">
          <select id="time" name="time">
            <option value="1">1 min</option>
            <option value="3">3 min</option>
            <option value="5">5 min</option>
            <option value="10">10 min</option>
            <option value="30">30 min</option>
          </select>
        </div>
        <h1>Choose a color</h1>
        <div class="color-container">
          <select id="color" name="color">
            <option value="White">White</option>
            <option value="Black">Black</option>
            <option value="Random">Random</option>
          </select>
        </div>
        <div class="submit-container">
          <input id="game-create" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </main>
</body>

</html>